<tnv-hero-content></tnv-hero-content>
<br>
<div class="card-container">
<div class="card text-center">
  
    <h5 class="card-title">Come si gioca?</h5>
  
  <div class="card-body">
    <div class="card-text-content">
      Benvenuto su Raw & Order!! Su questa applicazione ti daremo la possibilità
      di mettere alla prova le tue conoscenze cinematografiche utilizzando un semplice giochino.
      Impegnati a riordinare 10 film casuali per anno di uscita, incassi e tanto altro. 
      Divertiti e ricorda, CHE LA FORZA SIA CON TE!!
    </div>
    <br>
    <button class="btn btn-primary col-2" type="button" routerLink="/start" routerLinkActive="active">Gioca</button>
  </div>
  </div>
</div>