.card-container{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow: 0 3px 5px lightgray;
}

.card-text-center{
    justify-content: center;
    flex-direction: column;
    
    
}

h5{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #00909a;
    
}
 
.card-text-content{

    text-align: justify;
    font-size: 20px;

}