<div class="row mt-3 text-center">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>BENVENUTO SU RAW&ORDER</mat-card-title>
        
      </mat-card-header>
      <mat-card-content class="row text-center">
        <p>Su Raw&Order ti daremo la possibilità di mettere alla prova le tue conoscenze cinematografiche usando un semplice giochino.
          Divertiti a riordinare 10 film casuali per anno di nascita, premi o incassi.
          Mettiti alla rova e ricorda, CHE LA FORZA SIA CON TE!!
        </p>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
