$primary-palette: (
 50: #dff6f7,
 100: #b0e9ec,
 200: #7ddae0,
 300: #49cad4,
 400: #21bfcc,
 500: #00bac4,
 600: #00a5b3,
 700: #00909a,
 800: #007c82,
 900: #025959,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);

$secondary-palette: (
 50: #ffe6cb,
 100: #f3c6ad,
 200: #d7a58b,
 300: #b98466,
 400: #a36a4b,
 500: #8c5230,
 600: #80482a,
 700: #703c21,
 800: #622f1b,
 900: #512012,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);
