<div class="row">
  <mat-card>
    <img class="immagine" mat-card-image [src]="imageBaseUrl + favorite.posterPath" [alt]="favorite.movieTitle"
    style=" height: auto;"/>

    <mat-card-header style="word-wrap: break-word; margin-top: 10px;">
      <mat-card-title><strong>{{ favorite.movieTitle | titlecase }}</strong></mat-card-title>
    </mat-card-header>

    <mat-card-content style="word-wrap: break-word; margin-top: 10px;">
      <p> <strong> Recensione: </strong> {{ favorite.review }}</p>
    </mat-card-content>

    <mat-card-content style="word-wrap: break-word; margin-top: 10px;">
      <p> <strong>Voto:</strong> {{ favorite.rating }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" class="btn btn-primary" (click)="onDeleteFavorite(favorite.id)">Elimina</button>
    </mat-card-actions>

  </mat-card>
</div>