<div class="container">
    <div class="row">
        <div (ngSubmit)="startGame()" *ngIf="gameBotton" class="startGame-button d-grid gap-2 col-4 mx-auto">
            <button type="submit" *ngIf="startGame" class="btn btn-primary btn-lg" (click)="startGame()"
                (click)="showGame()" (click) ="showBottomPlay()">Inizia a giocare</button>
        </div>
        <div class="row align-items-start" *ngIf="game">
            <h2 class="title">Ordina i film in modo crescente per: {{this.crit.tag}}</h2>
            <div class="row col-9">
                <tnv-gioca-item *ngFor="let movie of movies" class="col-12 col-sm-6 col-md-3 py-2" [movie]="movie">
                </tnv-gioca-item>
            </div>
            <div class="select col-3 col-sm-3 col-md-3 py-2">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let movie of movies" cdkDrag>
                        {{movie.title}}
                        <img *cdkDragPreview [src]="imageBaseUrl + movie.poster_path" [alt]="movie.title">
                    </div>
                </div>
                <form #end="ngForm" (ngSubmit)="finish(end)">
                    <button type="button" *ngIf="finish" class="form-label btn btn-primary rounded submit px-3 mt-2"
                        routerLink="/end" routerLinkActive="active" (click)="finish(end)">Scopri il tuo punteggio
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>