.container {
    margin-top: 100px;
    text-align: center;

}

h2 {
    margin-bottom: 0px;
    text-align: center;
}


.card {
    border-radius: 8px;
    box-shadow: 0 3px 5px lightgray;
}
.row {
    padding-top: 0;
}