.container {
    margin-top: 100px;
    text-align: center;
   
}

h2 {
    margin-bottom: 3.5rem;
    text-align: center;
}

.row{
    padding-left: 200px;
}

.card{
    border-radius: 8px;
  box-shadow: 0 3px 5px lightgray;
}