<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh;"
>
  <div class="login-card">
    <div class="wrap d-md-flex">
      <div class="img col-12 col-md-6"></div>
      <div class="col-12 col-md-6 p-4 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h3 class="mb-4">Registrazione avvenuta con successo!</h3>
          </div>
        </div>
        
        <p class="text-center mt-3">
          
          <a data-toggle="tab" routerLink="/login">Accedi</a>
        </p>
      </div>
    </div>
  </div>
</div>
