<div class="container">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-3">
      <img [src]="imageBaseUrl + movie.poster_path" class="card-img-top" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title | titlecase }}</h5>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Inserisci la tua recensione:</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <tnv-review></tnv-review>
                <!-- <tnv-ratings [movie]="movie"></tnv-ratings> -->
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Salva</button>
            </div>
          </ng-template>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="example-button-container">
            <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit" (click)="open(content)" (click)="changeSuccessMessage()">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>