<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img [src]="imageBaseUrl + movie.poster_path" class="card-img-top" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title | titlecase }}</h5>
        <ng-template #content let-c="close" let-d="dismiss">
            <h4 class="modal-title" >
              Inserisci la tua recensione:
            </h4>
          <div class="modal-body">
            <div>
              <form #f="ngForm">
                <div>
                  <textarea id="reviewText" name="reviewText" [(ngModel)]="reviewText" maxlength="160" (input)="updateRemainingChars()" style="width: 100%;"></textarea>
                </div>
                <div>{{ remainingChars }} characters remaining</div>
                <label id="example-radio-group-label">Dai un voto al film</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" name="rating" [(ngModel)]="rating">
                  <mat-radio-button class="example-radio-button" *ngFor="let rating of ratings"
                    [value]="rating.value">
                    {{rating.viewValue}}
                  </mat-radio-button>
                </mat-radio-group>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmit(f)" (click)="c('Save click')">
              Salva
            </button>
          </div>
        </ng-template>

        <div class="example-button-container" *ngIf="favoriteBotton" (click)="showFavoriteBotton()">
          <button type="button" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit"
            (click)="open(content)">
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>