.container{
  
  margin-left: 35px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
  }

  .card{
  width: 540px;
  border-radius: 8px;
  box-shadow: 0 3px 5px lightgray;
}