.example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
  }

.card{
  margin-left: 170px;

  width: 540px;
  border-radius: 8px;
  box-shadow: 0 3px 5px lightgray;
}

.modal-title{
  text-align: center;
  margin-top: 10px;
}