<div class="container">
 <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Utente</th>
                        <th scope="col">Punteggio</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <!-- <tr>
                        <th scope="row">2</th>
                        <td>{{getRankingUsername()}}</td>
                        <td>{{ranking.gamePoints}}</td>
                    </tr>  -->
                </tbody>
            </table>
        </div>
    